{% extends 'base.html' %}


{% block title %}
    Admin Dashboard
{% endblock title %}


{% block content %}
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
            <li><a href="{{url_for('create_article')}}">Add Article</a></li>
        </ul>
    </nav>
    <main>
        <section id="admin-articles">
            <h2>Manage Articles</h2>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Title</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                </tr>
                {% for article in articles %}
                <tr>
                    <td>{{article.title}}</td>
                    <td>{{article.description}}</td>
                    <td>{{article.created_at}}</td>
                    <td>{{article.updated_on}}</td>
                    <td>
                        <a href="{{url_for('edit_article', id=article.id)}}">Edit</a> |
                        <a href="{{url_for('delete_article', id=article.id)}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                <!-- Add more articles as needed -->
            </table>
        </section>
    </main>
{% endblock content %}
