

{% extends 'base.html' %}



{% block title %}
    delete Article
{% endblock title %}



{% block content %}

    <header>
        <h1>Edit Article</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
        </ul>
    </nav>
    <main>
        <section id="delete-article">
            <form action="#" method="post">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="{{article.title}}" required>


                <label for="content">Content:</label>
                <textarea id="content" name="content" rows="10" required>{{article.description}}</textarea>

                <button type="submit">delete</button>
            </form>
        </section>
    </main>

{% endblock content %}
