{% extends "user/base.html" %}

{% block title %}Create User{% endblock %}

{% block content %}
<h1>Create New User</h1>

<form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">password:</label>
    <input type="password" id="password" name="password" required>

    <label for="role">role</label>
    <select name="role" id="role">
        <option value="user">user</option>
        <option value="admin">admin</option>
    </select>
    <button type="submit">Create</button>
</form>

<a href="{{ url_for('user_list') }}">Back to User List</a>
{% endblock %}
