body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1, h2, h3 {
    margin-top: 0;
}

#articles article, #admin-articles table {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#admin-articles table {
    width: 100%;
    border-collapse: collapse;
}

#admin-articles table th, #admin-articles table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#add-article form, #edit-article form {
    display: flex;
    flex-direction: column;
}

#add-article form label, #edit-article form label {
    margin-bottom: 5px;
}

#add-article form input, #edit-article form input, #add-article form textarea, #edit-article form textarea {
    margin-bottom: 15px;
    padding: 10px;
   
}