<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        
    {% endblock title %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <nav>
    <ul>
        <li><a href="{{url_for('admin.article_list')}}">Dashboard</a></li>
        <li><a href="{{url_for('admin.create_article')}}">Add Article</a></li>
        <li><a href="{{url_for('admin.user_create')}}">Add User</a></li>
    </ul>
  </nav>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                  {% if category == 'message' %}
                    <div class="alert alert-warning" role="alert">
                  {% else %}
                    <div class="alert alert-{{ category }}" role="alert">
                  {% endif %}
                    {{ message }}
                  </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
    {% block content %}
        
    {% endblock content %}

    <footer>
        <p>&copy; 2024 My Personal Blog</p>
    </footer>
</body>

</html>
