{% extends 'base.html' %}


{% block title %}
    Personal Blog - Home
{% endblock title %}
    

{% block content %}
    <main>
        <section id="articles">
            <h2>Articles</h2>
            <article>
                <h3><a href="article.html">Article Title 1</a></h3>
                <p>Published on: September 1, 2024</p>
                <p>Short description of the article...</p>
            </article>
            <article>
                <h3><a href="article.html">Article Title 2</a></h3>
                <p>Published on: August 28, 2024</p>
                <p>Short description of the article...</p>
            </article>
            <!-- Add more articles as needed -->
        </section>
    </main>
{% endblock content %}